@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 500px;
  height: 550px;
  border: 1px solid red;
  text-align: center;
  margin: 80px 500px;
  background-image: url('./img/Onega_Town.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  border: 3px solid #235597;
}

.App h1,
.header h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #f7c509;
  padding: 0;  
  text-shadow: rgb(28 68 121) -3px 0px 0px, rgb(28 68 121) 3px 0px 0px, rgb(28 68 121) 0px -3px 0px, rgb(28 68 121) 0px 3px 0px, rgb(0 0 0) 0px 0px 5px;;
  margin-top: 30px;
}

.contenido__App button{
  background-image: initial;
  background-color: rgb(24, 26, 27);
  box-shadow: rgb(28 68 121) -5px 0px 0px, rgb(28 68 121) 5px 0px 0px, rgb(28 68 121) 0px -5px 0px, rgb(28 68 121) 0px 5px 0px;
  color: rgb(123, 176, 224);
  text-decoration-color: initial;
  padding: 10px 30px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.contenido__App button:hover{
  background-color: #f7c509;
}

.home{
  width: 500px;
  height: 550px;
  border: 1px solid red;
  text-align: center;
  margin: 80px 500px;
  background-image: url('./img/Onega_Town.png');
}

.home h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #f7c509;
  padding: 0;  
  text-shadow: rgb(28 68 121) -3px 0px 0px, rgb(28 68 121) 3px 0px 0px, rgb(28 68 121) 0px -3px 0px, rgb(28 68 121) 0px 3px 0px, rgb(0 0 0) 0px 0px 5px;;
  margin-top: 30px;
}

.wiki{
  /* border: 3px solid #235597; */
  width: 500px;
  height: 550px;
  margin: 80px 500px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.header {
  width: 494px;
  height: 170px;
  background-image: url('./img/Onega_Town.png');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header h1{
  margin: 0;
  text-align: center;
  color: #f7c509;
}

.aside{
  width: 173px;
  height: 337px;
  border: 3px solid #235597;
  padding: 20px;
}
.aside h2{
  width: 150px;
  margin: 0 0 20px;
  border-bottom: 3px solid #235597;
  font-size: 17px;
  padding: 0 0 5px;
  color: #235597;
}
.aside nav{
  width: 150px;
  height: 292px;
  overflow-y: scroll;
}

.datos__pokemon{
  width: 307px;
  height: 337px;
  border: 3px solid #235597;
  padding: 20px;
}
.datos__pokemon h2{
  color: #f7c509;
  font-family: Fjalla One;
  font-size: 27px;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-shadow: -3px 0 0 #235597, 3px 0 0 #235597, 0 -3px 0 #235597, 0 3px 0 #235597;
  margin: 10px 0 20px;
  text-align: center;
}
.datos__pokemon ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.datos__pokemon ul li {
    list-style: none;
    padding: 2px 10px;
    background: #235597;
    color: #fff;
    margin: 10px;
    box-shadow: -3px 0 0 #235597, 3px 0 0 #235597, 0 -3px 0 #235597, 0 3px 0 #235597;
}
.container__pokemon{
  width: 212px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.img__back,
.img__front{
  background-color: #eaeaea;
  border-radius: 15px;
}

.pokeballs{
  width: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.pokeballs img{
  cursor: pointer;
}

.pokeBall{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
}

.pokeBall p{
  position: absolute;
  left: 20px;
  color: #235597;
  text-decoration: none;
  font-family: Roboto Mono,monospace;
  font-size: 16px;
  cursor: pointer;
}
.pokeBall p:hover{
  text-decoration: underline;
  color: crimson;
}
